.main {
    background-color: var(--white);
    margin: 0 1rem 0 1rem;
    color: var(--dark-slate-grey);
    box-sizing: border-box;
}

.container {
    margin: 20vh 0 30vh 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.title {
    padding: 32px 40px 16px 0;
}

.bold {
    font-weight: 700;
}

@media screen and (min-width: 600px) {
    .main {
        border-radius: 30px;
        padding: 16px;
        max-width: 30em;
    }

    .container {
        padding: 2em 2em 0 2em;
        margin: 0;
        justify-content: space-around;
    }

    .text {
        padding-bottom: 16px;
    }
}